@model SysControlVivero.EntidadesDeNegocio.Factura

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Factura</h1>

<h3>¿ Esta seguro que desea eliminar ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sumas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sumas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaTotal)
        </dd>
    </dl>

    <form asp-action="Delete">
      <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
      <span class="text-danger">@ViewBag.Error</span>
</div>
        